* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: hsl(19, 16%, 35%);
    background-color: #FE8F50;
    /* hsl(19, 100%, 96%)  */
    transition: background 0.4s;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: orangered;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 4rem;
    font-weight: 700;
    color: orangered;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    color: black;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    color: black;
}

img {
    /* width: 100%; */
    height: auto;
    /* display: block; */
    object-fit: cover;
}

/* =========================== NAVBAR ========================== */

.navbar-header {
    background-color: hsl(19, 100%, 96%);
    /* hsl(19, 100%, 96%) */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: box-shadow .3s, background .4s;
  }
  
  .nav-container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .nav {
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo,
  .nav__toggle,
  .nav__close {
    display: flex;
    color: hsl(19, 16%, 15%);
  }
  
  .nav__logo {
    align-items: center;
    column-gap: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: color .3s;
  }
  
  .nav__logo img {
    width: 60px;
  }
  
  .nav__logo:hover {
    color: hsl(19, 64%, 54%);
  }
  
  .nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .nav__menu,
  .bg-header {
    box-shadow: 0 2px 8px hsla(19, 64%, 4%, .5);
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
  }
  
  .nav__link, .navdropdown__link {
    color: hsl(19, 16%, 15%);
    font-weight: 500;
    transition: color .4s;
  }
  
  .nav__link:hover, .navdropdown__link:hover {
    color: hsl(19, 64%, 54%);
  }
  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Dropdown Container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: hsl(19, 16%, 15%);
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(19, 100%, 96%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: hsl(19, 100%, 96%);
      width: 100%;
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
      padding-block: 3.5rem;
      transition: top .4s;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .nav-container {
      margin-inline: 1rem;
    }
  
    .dropdown-content{
      position: absolute;
      left: 50%;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
  
  @media (min-width:341px) and (max-width:766px) {
    .dropdown-content{
      position: absolute;
      left: 50%;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 767px) {
    .nav {
      column-gap: 3rem;
    }
  
    .nav__toggle,
    .nav__close {
      display: none;
    }
  
    .nav__list {
      flex-direction: row;
      column-gap: 3rem;
    }
  
    .nav__menu {
      margin-left: auto;
      box-shadow: none;
    }
  
    .dropdown-content{
      position: absolute;
      left: 85%;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .nav {
      height: calc(3.5rem + 1.5rem);
    }
  }
  
  @media screen and (min-width: 1064px) {
    .nav-container {
      margin-inline: auto;
    }
  }
  
  /* Change background header */
  .bg-header {
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
  }
  
  /* Active link */
  .active-link {
    color: hsl(19, 64%, 54%);
  }
  
  /* Show menu */
  .show-menu {
    top: 0;
  }  

/* ================================ SCROLL BAR =========================== */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(19, 8%, 55%);
}

/* =============================== SCROLL UP ============================= */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsl(19, 100%, 97%);
    box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    color: hsl(19, 64%, 54%);
    z-index: 10;
    transition: bottom .3s, transform .3s, background .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 3rem;
}

/* =============================== BANNER ===================================== */
.banner {
    background-color: #FE8F50;
}

.banner-slider {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 5rem;
}

.banner-item1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.banneritem-left {
    position: relative;
    left: 5rem;
    bottom: 5rem;
    margin-left: 2rem;
}

.bannerleft-heading {
    font-family: "Manrope", sans-serif;
    font-size: 80px;
    color: #333356;
    margin-bottom: 2rem;
    /* position: relative;
    right: 6%; */
}

.bannerleft-subheading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 80px;
    color: #333356;
    line-height: 1;
    margin-bottom: 2rem;
}

.bannerleft-button {
    display: inline-block;
    background: #23A094;
    border-radius: .8rem;
    color: #fff;
    font-weight: 500;
    transition: all 400ms ease;
    padding: 15px 60px;
}

.bannerleft-button:hover {
    background-color: #BB3A8E;
    /* #23A094 */
}

.banneritem-right {
    position: relative;
    right: 8%;
    bottom: 10%;
}

.bannerright-image img {
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .banner-item1 {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .banneritem-left {
        left: 0;
        bottom: 0;
        margin-left: 0;
    }

    .banneritem-right {
        right: 0;
        bottom: 0;
    }

    .bannerleft-heading {
        font-size: 60px;
    }

    .bannerleft-subheading {
        font-size: 50px;
    }

    .bannerleft-button {
        padding: 10px 40px;
    }

    .bannerright-image img {
        width: 80%;
        margin: 0 auto;
    }
}

/* For small devices (max-width: 767px) */
@media screen and (max-width: 767px) {
    .banner-slider {
        height: auto;
        margin-bottom: 2rem;
        padding: 2rem 1rem;
    }

    .banner-item1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .banneritem-left {
        position: relative;
        left: 0;  /* Remove the left offset */
        bottom: 0; /* Remove the bottom offset */
        margin-left: 0;  /* Remove left margin */
    }

    .bannerleft-heading {
        font-size: 50px;
    }

    .bannerleft-subheading {
        font-size: 40px;
    }

    .bannerleft-button {
        padding: 10px 30px;
    }

    .banneritem-right {
        position: relative;
        right: 0; /* Remove the right offset */
        bottom: 0; /* Remove the bottom offset */
        margin-top: 20px;
    }

    .bannerright-image img {
        width: 70%;
        margin: 0 auto;
    }
}


/* For extra small devices (max-width: 480px) */
@media screen and (max-width: 480px) {
    .bannerleft-heading {
        font-size: 40px;
    }

    .bannerleft-subheading {
        font-size: 30px;
    }

    .bannerleft-button {
        padding: 8px 20px;
    }

    .bannerright-image img {
        width: 60%;
    }
}

/* For very small devices (max-width: 340px) */
@media screen and (max-width: 340px) {
    .bannerleft-heading {
        font-size: 30px;
    }

    .bannerleft-subheading {
        font-size: 20px;
    }

    .bannerleft-button {
        padding: 6px 15px;
    }

    .bannerright-image img {
        width: 50%;
    }
}

/* ================================= MISSION ============================= */

.mission {
    background-color: #FFFFFF;
    height: 100vh;
}

.mission-container {
    text-align: center;
    padding: 1rem 5rem 3rem 5rem;
}

.mission-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    line-height: 1;
    margin-bottom: 3rem;
}

.mission-aim {
    display: inline-block;
    background-color: #FFDF5E;
    border-radius: 8px;
    color: #333356;
    font-size: 10px;
    font-weight: 800;
    padding: 5px 10px;
    margin-bottom: 3rem;
}

.missionpara-info {
    color: #BB3A8E;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 800;
    font-style: normal;
    padding-left: 9rem;
    padding-right: 9rem;
    margin-bottom: 3rem;
}

.mission-button {
    display: inline-block;
    background: #23A094;
    border-radius: .4rem;
    color: #fff;
    font-weight: 500;
    transition: all 400ms ease;
    padding: 15px 50px;
}

.mission-button:hover {
    background-color: #FE8F50;
}


/* ================================ OBJECTIVES ============================ */
.objective{
    background-color: #23A094;
    padding-bottom: 1rem;
}

.objective-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    line-height: 1;
    padding: 5rem;
    padding-bottom: 3rem;
    margin-top: 0rem;
}

.object-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.object-container1, .object-container2, .object-container3 {
    background-image: url('/images/FooterImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.object-container > div:hover, .object-second-container > div:hover {
    transform: translateY(-10px);
    box-shadow: 20px 15px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.object-container > div:hover .objective-img, .object-second-container > div:hover .objective-img {
    transform: scale(1.05);
    transition: 0.5s;
}

.objective-img1 {
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-right: 3rem;
    /* box-shadow: 15px 10px 6px 0 gray; */
}

.object-container1 {
    margin-left: 50px;
    width: 76%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px;
    margin-top: 5rem;
}

.objective-text1 h3, .objective-text2 h3, .objective-text3 h3 {
    /* padding-top: 2rem; */
    /* font-family: "Manrope", sans-serif; */
    font-family: "Edu VIC WA NT Beginner", "Manrope", cursive;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 800;
    /* padding-top: 3.5rem; */
    text-align: center;
}

.objective-img2 {
    max-width: 280px;
    float: right;
    border-radius: 10px;
    /* box-shadow: 15px 10px 6px 0 gray; */
    margin-left: 3rem;
}

.object-container2 {
    margin-top: 82px;
    margin-left: 50px;
    width: 76%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px;
}

.object-second-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.object-container3 {
    margin-top: 82px;   
    margin-bottom: 90px;
    margin-left: 50px;
    width: 38%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px; 
}

.objective-img3 {
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-right: 3rem;
    /* box-shadow: 15px 10px 6px 0 gray; */
}

.object-container > div:hover h3, .object-second-container > div:hover h3 {
    color: #FF5733;
    transition: 0.2s;
}

/* =============================== Objective end ===================================== */

/* =============================== Dynamic Numbers =================================== */

.numbers-section {
    background-color: #2F2F2F;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.numbers-wrapper {
    /* border: 1px solid white; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%;
    left: 50%; */
    width: 80vw;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    position: relative;
    left: 8.5rem;
}

.numbers-container {
    width: 28vmin;
    height: 28vmin;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    /* background-color: #21242b; */
    /* border-bottom: 10px solid #18f98f; */
}

.dynamicnumbers-icon {
    color: #fdd831;
    font-size: 2.5em;
    text-align: center;
}

span.numbers-num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.numbers-text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px) {
    .numbers-wrapper {
        width: 85vm;
    }

    .numbers-container {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .numbers-wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .numbers-container {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .numbers-wrapper {
        gap: 15px;
    }

    .numbers-container {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}

/* =============================== Activity  ===================================== */

.activity {
    background-color: #fdd831;
}

.activity-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 80px;
    color: #333356;
    line-height: 1;
    padding: 2rem;
    margin-top: 0;
}

.actvity_container {
    display: grid;
    /* place-items: center; */
    margin-inline: 1.5rem;
    /* padding: 0.5rem 0.5rem; */
}

.activity_cards {
    display: grid;
    row-gap: 3.5rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.card__article {
    position: relative;
    overflow: hidden;
    margin-right: 7rem;
    
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
    display: block;
    max-width: 100%;
    height: auto;
}

.card__data {
    width: 250px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card__data:hover {
    width: 250px;
}

.card__description {
    display: inline-block;
    font-size: .875rem;
    margin-bottom: .25rem;
}

.card__title {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    color: hsl(0, 0%, 35%);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 500;
    color: hsl(82, 60%, 28%);
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
    width: 250px;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
    width: 250px;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .actvity_container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .activity_cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .actvity_container {
        height: auto;
    }

    .activity_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}


/* =============================== Volunteer start ===================================== */

.volunteer-container {
    width: 100%;
    background-color: #333356;
}

.volunteer-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    padding: 3rem;
    padding-bottom: 2.5rem;
    margin-top: 0;
}

.volunteer-subheading {
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    color: #E9DEFC;
    margin-bottom: 5px;
}

.volunteer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.volunteer-card {
    width: 25%;
    /* background: #fff; */
    /* border: 1px solid #ccc; */
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
    padding-bottom: 10px;
    /* box-shadow: 15px 10px 6px 0 gray; */
}

.volunteer-card-header {
    text-align: center;
    padding: 40px 10px;
    color: #fff;
}

.volunteer-card-header h3{
    color: #FFFFFF;
}

.volunteer-icon1::before {
    font-size: 3rem;
    content: "\f2b5";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #BB3A8E;
    padding: 1rem;
    border-radius: 0.5rem;
}

.volunteer-icon1, .volunteer-icon2,
.volunteer-icon3, .volunteer-icon4{
    padding-bottom: 2rem;
}

.volunteer-icon2::before {
    font-size: 3rem;
    content: "\f1ae";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #23A094;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
}

.volunteer-icon3::before {
    font-size: 3rem;
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #FE8F50;
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
    border-radius: 0.5rem;
}

.volunteer-icon4::before {
    font-size: 3rem;
    content: "\24";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #000;
    background-color: #fdd831;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
}


.volunteer-card-body {
    /* padding: 20px 20px; */
    text-align: center;
    font-size: 18px;

}

.volunteer-card-body .btn {
    display: block;
    color: #333356;
    font-weight: 600;
    margin-left: 2rem;
    width: 80%;
    text-align: center;
    background: #FFDF5E;
    transition: all 400ms ease;
    border-radius: .4rem;
    margin-top: 5px;
    text-decoration: none;
    padding: 10px 5px;
}

.volunteer-card-body .btn:hover {
    background-color: #FE8F50;
}

.volunteer-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}



@media screen and (max-width: 1000px) {
    .volunteer-card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .volunteer-container {
        width: 100%;
    }

    .volunteer-card {
        width: 80%;
    }
}



/* ============================= TESTIMONIALS ================================ */

.section-t {
    padding: 3rem 0;
    background-color: #23A094; /* #FEFFD2 */
}

.testimonials-container {
    max-width: 140rem;
    margin: 0 auto;
}

.testimonials-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding: 3rem;
    padding-bottom: 2.5rem;
}

.grid {
    display: grid;
    gap: 10rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.swiper {
    width: 88%;
    height: 30%;
    margin-top: 2.5rem;
}

.swiper-slide {
    /* background-color: #ced3ff;
        border-radius: 10px; */
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1rem; */

    /* Center Slide text vertically */
    /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
         */
}

.swiper-client-msg {
    padding: 5rem 8rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    position: relative;
}


.swiper-client-msg::before {
    content: "";
    position: absolute;
    bottom: -8rem;
    left: 50%;
    transform: translateX(-50%);
    border: 4rem solid #fff;
    border-color: transparent;
    border-top-color: #f3f4ff;
}

.swiper-client-msg p {
    font-size: 1rem;
}

.swiper-client-msg p::before {
    content: "\f10d";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ced3ff;
}

.swiper-client-msg p::after {
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ced3ff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    object-fit: cover;
}

.swiper-client-data {
    align-items: center;
    justify-items: start;
    justify-content: start;
    gap: 1.4rem;
    margin-top: 2rem;
}

.swiper-client-data img {
    max-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.5rem solid #ced3ff;
    position: relative;
    left: 2.5rem;
}

.swiper-client-data p:first-child {
    font-weight: bold;
    color: rgb(0 10 45);
}


/* ================================ Footer ====================================== */
a {
    color: white;
    text-decoration: none;

}

ul {
    list-style: none;
}


p,
small,
h4 {
    color: #FFFFFF;
}

h3,
h4 {
    line-height: 1.2;
    font-size: 1.6rem;
}

footer {
    background-color: #333356;
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {

    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer-logo {
    width: 90px;
}

.footer__container>div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;

}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
   
}

.footer__socials i{
    padding: 0.5rem;
}

.footer__socials li{
    background-color: #BB3A8E;
    border-radius: 10%;

}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid #424890;
}

@media screen and (max-width: 1024px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
    }
}




/* Responsive */

/* General mobile styles for screens up to 768px */
/* @media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    nav {
        height: 3.5rem;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 3.5rem;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 12;
    }

    nav button {
        display: block;
        background: transparent;
        border: none;
        color: black;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav__menu a {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .nav__menu.active {
        display: flex;
    }

    .banner-slider {
        height: 400px;
    }

    .banner-buttons button {
        width: 30px;
        height: 30px;
    }

    .objective-img1, .objective-img2, .objective-img3 {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .object-container1, .object-container2, .object-container3 {
        margin: 2rem;
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
    }

    .volunteer-card {
        width: 80%;
        margin: 2rem auto;
    }

    .grid-two-column {
        grid-template-columns: 1fr;
    }

    .swiper-client-msg {
        padding: 1rem;
    }

    .mission-container, .volunteer-container {
        padding: 1rem;
    }

    .volunteer-heading {
        font-size: 1.5rem;
        margin: 1rem;
    }
}

/* General tablet styles for screens up to 1024px */
@media screen and (max-width: 1024px) {
    .container {
        width: 85%;
    }

    .nav__menu a {
        padding: 1rem;
        font-size: 1rem;
    }

    .objective-img1,
    .objective-img2,
    .objective-img3 {
        width: 100%;
        float: none;
        margin: 1rem auto;
    }

    .object-container1,
    .object-container2,
    .object-container3 {
        margin: 3rem;
        width: 90%;
        padding: 2rem;
    }

    .volunteer-card {
        width: 45%;
        margin: 2rem auto;
    }

    .grid-two-column {
        grid-template-columns: 1fr;
    }

    .swiper-client-msg {
        padding: 2rem;
    }

    .mission-container,
    .volunteer-container {
        padding: 2rem;
    }

    .volunteer-heading {
        font-size: 2rem;
        margin: 2rem;
    }
}

/* Additional styles for very small screens (phones) */
/*@media screen and (max-width: 480px) {
   .nav__container {
        padding: 0 0.5rem;
    }

    .nav__menu a {
        font-size: 0.9rem;
    }

    .banner-slider {
        height: 300px;
    }

    .banner-buttons button {
        width: 25px;
        height: 25px;
    }

    .mission-para {
        font-size: 1rem;
    }

    .objective-text1, .objective-text2, .objective-text3 {
        font-size: 0.9rem;
    }

    .volunteer-card {
        width: 90%;
    }

    .swiper-client-msg {
        padding: 0.5rem;
    }

    .volunteer-heading {
        font-size: 1.2rem;
    }
} */