* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: hsl(19, 16%, 35%);
    background-color: #1f2641;
    /* hsl(19, 100%, 96%)  */
    transition: background 0.4s;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: orangered;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 4rem;
    font-weight: 700;
    color: orangered;
}

/* h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    color: black;
}

h4 {
    font-size: 1.3rem;
} */

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    color: black;
}

/* img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
} */

/* =========================== NAVBAR ========================== */

.navbar-header {
    background-color: hsl(19, 100%, 96%);
    /* hsl(19, 100%, 96%) */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: box-shadow .3s, background .4s;
}

.nav-container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.nav {
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
    display: flex;
    color: hsl(19, 16%, 15%);
}

.nav__logo {
    align-items: center;
    column-gap: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: color .3s;
}

.nav__logo img {
    width: 60px;
}

.nav__logo:hover {
    color: hsl(19, 64%, 54%);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__menu,
.bg-header {
    box-shadow: 0 2px 8px hsla(19, 64%, 4%, .5);
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link,
.navdropdown__link {
    color: hsl(19, 16%, 15%);
    font-weight: 500;
    transition: color .4s;
}

.nav__link:hover,
.navdropdown__link:hover {
    color: hsl(19, 64%, 54%);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Dropdown Container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: hsl(19, 16%, 15%);
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(19, 100%, 96%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsl(19, 100%, 96%);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .nav-container {
        margin-inline: 1rem;
    }

    .dropdown-content {
        position: absolute;
        left: 50%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (min-width:341px) and (max-width:766px) {
    .dropdown-content {
        position: absolute;
        left: 50%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* For medium devices */
@media screen and (min-width: 767px) {
    .nav {
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        margin-left: auto;
        box-shadow: none;
    }

    .dropdown-content {
        position: absolute;
        left: 85%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}

/* For large devices */
@media screen and (min-width: 1024px) {
    .nav {
        height: calc(3.5rem + 1.5rem);
    }
}

@media screen and (min-width: 1064px) {
    .nav-container {
        margin-inline: auto;
    }
}

/* Change background header */
.bg-header {
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}

/* Active link */
.active-link {
    color: hsl(19, 64%, 54%);
}

/* Show menu */
.show-menu {
    top: 0;
}

/* ================================ SCROLL BAR =========================== */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(19, 8%, 55%);
}

/* =============================== SCROLL UP ============================= */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsl(19, 100%, 97%);
    box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    color: hsl(19, 64%, 54%);
    z-index: 10;
    transition: bottom .3s, transform .3s, background .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 3rem;
}

/* =============================== BANNER ===================================== */
.banner {
    background-color: #FE8F50;
}

.banner-slider {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 98vh;
}

.banner-item1 {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.banneritem-left {
    margin: 0 auto;
    position: relative;
    bottom: 10%;
}

.bannerleft-heading {
    font-family: "Manrope", sans-serif;
    font-size: 70px;
    color: #333356;
    margin-bottom: 2rem;
}

.bannerleft-subheading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    line-height: 1;
    margin-bottom: 2rem;
}

.bannerleft-button {
    display: inline-block;
    background: #23A094;
    border-radius: .8rem;
    color: #fff;
    font-weight: 500;
    transition: all 400ms ease;
    padding: 15px 60px;
}

.bannerleft-button:hover {
    background-color: #BB3A8E;
    /* #23A094 */
}

.banneritem-right {
    position: relative;
    right: 30%;
    bottom: 10%;
}

.bannerright-image img {
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

/*=============== BREAKPOINTS ===============*/

@media (min-width: 1025px) and (max-width: 1200px) {
    .bannerleft-heading {
        font-size: 60px;
    }

    .bannerleft-subheading {
        font-size: 50px;
    }
}

/* For medium devices (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .banner-slider {
        height: auto;
    }

    .banner-item1 {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .banneritem-left {
        position: relative;
        margin: 0 auto;
        /* Center horizontally */
        top: 50%;
        transform: translateY(-50%);
        /* Center vertically */
        margin-bottom: 130px;
        /* Adjust based on your design */
    }

    .banneritem-right {
        right: 0;
        bottom: 0;
    }

    .bannerleft-heading {
        font-size: 60px;
    }

    .bannerleft-subheading {
        font-size: 50px;
    }

    .bannerleft-button {
        padding: 10px 40px;
    }

    .bannerright-image img {
        width: 35%;
        margin: 0 auto;
        position: relative;
        bottom: 80px;
    }
}

/* For small devices (max-width: 767px) */
@media screen and (max-width: 767px) {
    .banner-slider {
        height: auto;
        padding: 2rem 1rem;
        padding-top: 0rem;
    }

    .banner-item1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .banneritem-left {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 130px;
    }

    .bannerleft-heading {
        font-size: 50px;
    }

    .bannerleft-subheading {
        font-size: 40px;
    }

    .bannerleft-button {
        padding: 10px 30px;
    }

    .banneritem-right {
        position: relative;
        right: 0;
        /* Remove the right offset */
        bottom: 0;
        /* Remove the bottom offset */
        margin-top: 20px;
    }

    .bannerright-image img {
        width: 50%;
        margin: 0 auto;
    }
}


/* For extra small devices (max-width: 480px) */
@media screen and (max-width: 480px) {
    .banner-slider {
        padding-top: 0rem;
    }

    .bannerleft-heading {
        margin-top: 0px;
        font-size: 40px;
    }

    .bannerleft-subheading {
        font-size: 30px;
    }

    .bannerleft-button {
        padding: 8px 20px;
    }

    .bannerright-image img {
        width: 60%;
    }
}

/* For very small devices (max-width: 340px) */
@media screen and (max-width: 340px) {
    .banner-slider {
        padding-top: 0rem;
    }

    .bannerleft-heading {
        font-size: 30px;
        margin-top: 0px;
    }

    .bannerleft-subheading {
        font-size: 20px;
    }

    .bannerleft-button {
        padding: 6px 15px;
    }

    .bannerright-image img {
        width: 50%;
    }
}

/* ================================= MISSION ============================= */

.mission {
    background-color: #FFFFFF;
    padding: 5rem 0;
}

.mission-container {
    text-align: center;
    padding: 0 2rem;
}

.mission-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    line-height: 1;
    margin-bottom: 3rem;
}

.mission-aim {
    display: inline-block;
    background-color: #FFDF5E;
    border-radius: 8px;
    color: #333356;
    font-size: 14px;
    font-weight: 800;
    padding: 5px 10px;
    margin-bottom: 3rem;
}

.missionpara-info {
    color: #BB3A8E;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 800;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}

.mission-button {
    display: inline-block;
    background: #23A094;
    border-radius: .4rem;
    color: #fff;
    font-weight: 500;
    transition: all 400ms ease;
    padding: 15px 50px;
}

.mission-button:hover {
    background-color: #FE8F50;
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .mission-heading {
        font-size: 50px;
    }

    .missionpara-info {
        font-size: 22px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* For small devices (max-width: 767px) */
@media screen and (max-width: 767px) {
    .mission-heading {
        font-size: 40px;
    }

    .mission-aim {
        font-size: 12px;
    }

    .missionpara-info {
        font-size: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mission-button {
        padding: 12px 40px;
    }
}

/* For extra small devices (max-width: 480px) */
@media screen and (max-width: 480px) {
    .mission-heading {
        font-size: 32px;
    }

    .mission-aim {
        font-size: 10px;
    }

    .missionpara-info {
        font-size: 18px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .mission-button {
        padding: 10px 30px;
    }
}

/* For very small devices (max-width: 340px) */
@media screen and (max-width: 340px) {
    .mission-heading {
        font-size: 28px;
    }

    .missionpara-info {
        font-size: 16px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .mission-button {
        padding: 8px 25px;
    }
}



/* ================================ OBJECTIVES ============================ */
.objective {
    /* background-color: #23A094; */
    background-color: hsl(36, 90%, 41%);
    padding-bottom: 1rem;
}

.objective-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #333356;
    line-height: 1;
    padding: 5rem;
    padding-bottom: 3rem;
    margin-top: 0rem;
}

.object-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.object-container1,
.object-container2,
.object-container3 {
    background-image: url('/images/FooterImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.object-container>div:hover,
.object-second-container>div:hover {
    transform: translateY(-10px);
    box-shadow: 20px 15px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.object-container>div:hover .objective-img,
.object-second-container>div:hover .objective-img {
    transform: scale(1.05);
    transition: 0.5s;
}

.objective-img1 {
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-right: 3rem;
    /* box-shadow: 15px 10px 6px 0 gray; */
}

.object-container1 {
    margin-left: 50px;
    width: 76%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px;
    margin-top: 5rem;
}

.objective-para {
    /* padding-top: 2rem; */
    /* font-family: "Manrope", sans-serif; */
    font-family: "Edu VIC WA NT Beginner", "Manrope", cursive;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 800;
    /* padding-top: 3.5rem; */
    text-align: center;
}

.objective-img2 {
    max-width: 280px;
    float: right;
    border-radius: 10px;
    /* box-shadow: 15px 10px 6px 0 gray; */
    margin-left: 3rem;
}

.object-container2 {
    margin-top: 82px;
    margin-left: 50px;
    width: 76%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px;
}

.object-second-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.object-container3 {
    margin-top: 82px;
    margin-bottom: 90px;
    margin-left: 50px;
    width: 38%;
    height: 13rem;
    padding: 2rem;
    background-color: hsl(19, 100%, 96%);
    border-radius: 25px;
}

.objective-img3 {
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-right: 3rem;
    /* box-shadow: 15px 10px 6px 0 gray; */
}

.object-container>div:hover h3,
.object-second-container>div:hover h3 {
    color: #FF5733;
    transition: 0.2s;
}

/* ================================ BREAKPOINTS ============================ */

@media (min-width:1025px) and (max-width:1330px) {

    .objective-img1,
    .objective-img2,
    .objective-img3 {
        max-width: 210px;
    }

    .objective-para,
    .objective-para1 {
        font-size: 20px;
    }
}

/* For medium devices (max-width: 1024px) */
@media (min-width:767px) and (max-width: 1024px) {
    .objective-heading {
        font-size: 60px;
    }

    .object-container1,
    .object-container2,
    .object-container3 {
        width: 80%;
        margin-left: 0px;
    }

    .object-container1,
    .object-container2 {
        /* margin-left: 62px; */
        margin-left: auto;
        margin-right: auto;
    }

    .object-container1 {
        margin-top: 15px;
    }

    .objective-para {
        font-size: 24px;
        margin-left: 1rem;
    }

    .object-container {
        grid-template-columns: 1fr;
    }

    .objective-img1,
    .objective-img2,
    .objective-img3 {
        max-width: 300px;
    }

    .objective-para {
        position: absolute;
        font-size: 30px;
        left: 55%;
    }

    .objective-para1 {
        left: 15%;
    }
}

/* For small devices (max-width: 767px) */
@media (min-width:480px) and (max-width: 768px) {
    .objective-heading {
        font-size: 70px;
    }

    .object-container1,
    .object-container2,
    .object-container3 {
        width: 75%;
        margin-left: 0px;
    }

    .object-container1,
    .object-container2 {
        margin: 0 auto;
    }

    .object-container1 {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .object-container3 {
        margin-top: 50px;
    }

    .objective-para {
        font-size: 24px;
        margin-left: 1rem;
    }

    .object-container {
        grid-template-columns: 1fr;
    }

    .objective-img1,
    .objective-img2,
    .objective-img3 {
        max-width: 190px;
    }

    .objective-para {
        position: absolute;
        font-size: 24px;
        left: 55%;
    }

    .objective-para1 {
        left: 10%;
    }
}

/* For extra small devices (max-width: 480px) */
@media (min-width:342px) and (max-width: 479px) {
    .objective-heading {
        font-size: 45px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .object-container {
        grid-template-columns: 1fr;
    }

    .objective-para {
        position: relative;
        bottom: 10px;
        font-size: 13px;
    }

    .objective-img {
        max-width: 100px;

    }

    .object-container1 {
        margin-top: 10px;
    }

    .object-container1,
    .object-container2 {
        height: auto;
    }

    .object-container1,
    .object-container2 {
        margin: 0 auto;
        width: 70%;
    }

    .object-container2 {
        margin-top: 30px;
    }

    .object-container3 {
        margin-left: 0;
        width: 70%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 25px;

        /* grid-column: span 1; */
    }
}

/* For very small devices (max-width: 340px) */
@media screen and (max-width: 342px) {
    .objective-heading {
        font-size: 40px;
        margin-bottom: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
    }

    .object-container {
        grid-template-columns: 1fr;
    }

    .object-container1,
    .object-container2,
    .object-container3 {
        width: 50%;
        height: auto;
        margin-top: 30px;
    }


    .object-container3 {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .objective-para {
        position: absolute;
        font-size: 12px;
        left: 58%;
    }

    .objective-para1 {
        left: 23%;
    }

    .objective-img {
        max-width: 100px;
    }

    .objective-img1,
    .objective-img3 {
        position: relative;
        right: 20px;
        bottom: 10px;
    }

    .objective-img2 {
        position: relative;
        left: 20px;
    }
}

/* =============================== Objective end ===================================== */

/* =============================== Dynamic Numbers =============================== */

.numbers-section {
    background-color: #2F2F2F;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.numbers-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
    /* Wraps items on smaller screens */
}

.numbers-container {
    flex: 1 1 200px;
    /* Allows flexibility and wrapping */
    max-width: 250px;
    min-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #3a3a3a;
    /* Optional background color */
    margin: 1rem;
    /* Spacing between items */
}

.dynamicnumbers-icon {
    color: #fdd831;
    font-size: 2.5em;
}

span.numbers-num {
    color: white;
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 0.5rem;
}

span.numbers-text {
    color: #e0e0e0;
    font-size: 1em;
    margin-top: 0.5rem;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .numbers-container {
        max-width: 45%;
        /* Allows two columns on medium screens */
        margin: 1rem auto;
        /* Center items */
        font-size: 0.9em;
    }
}

/* Small devices (phones, 480px and up) */
@media screen and (max-width: 480px) {
    .numbers-container {
        max-width: 100%;
        /* Full width on small screens */
        font-size: 0.8em;
        padding: 1rem;
    }

    span.numbers-num {
        font-size: 2em;
    }

    span.numbers-text {
        font-size: 0.9em;
    }
}

/* Extra small devices (phones, 340px and up) */
@media screen and (max-width: 340px) {
    .numbers-container {
        font-size: 0.7em;
    }

    span.numbers-num {
        font-size: 1.8em;
    }

    span.numbers-text {
        font-size: 0.8em;
    }
}

/* =============================== Activity  ===================================== */

.activity {
    background-color: #fdd831;
}

.activity-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 80px;
    color: #333356;
    line-height: 1;
    padding: 2rem;
    margin-top: 0;
}

.actvity_container {
    display: grid;
    /* place-items: center; */
    margin-inline: 1.5rem;
    /* padding: 0.5rem 0.5rem; */
}

.activity_cards {
    display: grid;
    row-gap: 3.5rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    /* Adjusted */
    margin-right: auto;
    /* Adjusted */
    padding: 0 1.1rem;
    /* Added padding to prevent overflow */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
}

.card__article {
    position: relative;
    overflow: hidden;
    margin-right: 7rem;
    margin: 0 auto;
    /* Center the cards */
    max-width: 100%;
    /* Prevent overflow */

}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
    display: block;
    max-width: 100%;
    height: auto;
}

.card__data {
    width: 250px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card__data:hover {
    width: 250px;
}

.card__description {
    display: inline-block;
    font-size: .875rem;
    margin-bottom: .25rem;
}

.card__title {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    color: hsl(0, 0%, 35%);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 500;
    color: hsl(82, 60%, 28%);
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
    width: 250px;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
    width: 250px;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

.activity-button {
    display: inline-block;
    background: #23A094;
    border-radius: .4rem;
    color: #fff;
    margin: 1rem auto;
    font-weight: 500;
    transition: all 400ms ease;
    padding: 15px 50px;
    text-align: center;
}

.activity-button:hover {
    background-color: #FE8F50;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 410px) {
    .activity-heading {
        font-size: 40px;
    }

    .activity_cards {
        /* margin-left: 0.5rem; */
        margin-bottom: 2.5rem;
        row-gap: 2.5rem;
    }

    .actvity_container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card__article {
        width: 250px;
    }

    .card__img {
        width: 100%;
    }

    .card__data {
        width: 200px;
        padding: 1rem;
        padding-left: 0.5rem;
    }

    .card__article:hover .card__data {
        width: 200px;
    }






}

/* For medium devices */
@media screen and (min-width: 768px) {
    .activity_cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5.5rem;
    }




}

/* For large devices */
@media screen and (min-width: 1200px) {
    .actvity_container {
        height: auto;
    }

    .activity_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }





}


/* =============================== Volunteer start ===================================== */

.volunteer-container {
    width: 100%;
    background-color: #333356;
    padding-bottom: 2.5rem;
}

.volunteer-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 4rem;
    /* Default font size */
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    padding: 3rem;
    padding-bottom: 2.5rem;
    margin-top: 0;
}

.volunteer-subheading {
    text-align: center;
    font-size: 1.25rem;
    /* Default font size */
    font-weight: 200;
    color: #E9DEFC;
    margin-bottom: 1rem;
}

.volunteer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center align the cards */
}

.volunteer-card {
    flex: 1 1 22%;
    /* Default: 4 cards per row on large screens */
    margin: 1rem;
    transition: 0.3s;
    border-radius: 10px;
    padding-bottom: 10px;
}

.volunteer-card-header {
    text-align: center;
    padding: 2.5rem 1rem;
    /* Adjusted padding */
    color: #fff;
}

.volunteer-card-header h3 {
    color: #FFFFFF;
    font-size: 1.25rem;
    /* Default font size */
}

.volunteer-icon1::before {
    font-size: 3rem;
    content: "\f2b5";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #BB3A8E;
    padding: 1rem;
    border-radius: 0.5rem;
}

.volunteer-icon1,
.volunteer-icon2,
.volunteer-icon3,
.volunteer-icon4 {
    padding-bottom: 2rem;
}

.volunteer-icon2::before {
    font-size: 3rem;
    content: "\f1ae";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #23A094;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
}

.volunteer-icon3::before {
    font-size: 3rem;
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #FFF;
    background-color: #FE8F50;
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
    border-radius: 0.5rem;
}

.volunteer-icon4::before {
    font-size: 3rem;
    content: "\24";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #000;
    background-color: #fdd831;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
}

.volunteer-card-body {
    text-align: center;
    font-size: 1rem;
    /* Default font size */
}

.volunteer-card-body .btn {
    display: block;
    color: #333356;
    font-weight: 600;
    margin: auto;
    /* Center align button */
    width: 50%;
    text-align: center;
    background: #FFDF5E;
    transition: all 400ms ease;
    border-radius: .4rem;
    margin-top: 5px;
    text-decoration: none;
    padding: 0.75rem 1rem;
    /* Default padding */
}

.volunteer-card-body .btn:hover {
    background-color: #FE8F50;
}

.volunteer-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Tablet view */
@media screen and (max-width: 1024px) {
    .volunteer-heading {
        font-size: 3rem;
        /* Reduced font size for tablets */
    }

    .volunteer-subheading {
        font-size: 1.1rem;
        /* Reduced font size for tablets */
    }

    .volunteer-card {
        flex: 1 1 45%;
        /* 2 cards per row on tablets */
    }

    .volunteer-card-header {
        padding: 2rem 0.75rem;
        /* Adjusted padding for tablets */
    }

    .volunteer-card-header h3 {
        font-size: 1.1rem;
        /* Reduced font size for tablets */
    }

    .volunteer-card-body {
        font-size: 0.95rem;
        /* Reduced font size for tablets */
    }

    .volunteer-card-body .btn {
        padding: 0.5rem 0.75rem;
        /* Adjusted button padding for tablets */
    }
}

/* Mobile view */
@media screen and (max-width: 620px) {
    .volunteer-heading {
        font-size: 2rem;
        /* Reduced font size for mobiles */
    }

    .volunteer-subheading {
        font-size: 1rem;
        /* Reduced font size for mobiles */
    }

    .volunteer-card {
        flex: 1 1 100%;
        /* 1 card per row on mobile devices */
    }

    .volunteer-card-header {
        padding: 1.5rem 0.5rem;
        /* Adjusted padding for mobiles */
    }

    .volunteer-card-header h3 {
        font-size: 1rem;
        /* Reduced font size for mobiles */
    }

    .volunteer-card-body {
        font-size: 0.85rem;
        /* Reduced font size for mobiles */
    }

    .volunteer-card-body .btn {
        padding: 0.5rem;
        /* Adjusted button padding for mobiles */
    }
}



/* ===== Members ======== */

.members h1 {
    text-align: center;
    padding-top: 20px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 80px;
    color: rgb(51, 51, 86);
    line-height: 1;
  } 
  
  
  .members {
    background-color: #CBE2B5;

  
  }
  
  
  
  /* General container styling */
  .container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px;

   
   
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the cards */
  }
  
  .card {
    width: 100%;
    max-width: 300px;
    height: 400px;
    background: black;
    border-radius: 10px;
    margin: 20px;
    /* Adjust margins for better spacing */
    position: relative;
    float: none;
    /* Remove float */
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px 1px #9592927a;
  }
  
  .bg {
    width: 90%;
    transform: rotate(90deg);
    transition: 1s;
    margin-left: 20px;
  }
  
  .one {
    width: 90%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .card:hover .bg {
    transform: rotate(120deg);
  }
  
  .card h3 {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    cursor: pointer;
  }
  
  .card h4 {
    text-align: center;
    color: grey;
    font-weight: 500;
  }
  
  .icon {
    text-align: center;
    margin-top: 10px;
  }
  
  .icon ion-icon {
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    background: #ffc400;
    color: #fff;
    border: 1px solid #ffc400;
    opacity: 0;
  }
  
  .icon ion-icon:hover {
    color: grey;
    border: 1px solid grey;
    background: transparent;
  }
  
  .card:hover .icon ion-icon {
    opacity: 1;
  }
  
  @media (max-width: 450px) {
    .container{
      width: 80%;
    }
    .members h1{
      font-size: 54px;
    }
  }
  

/* ======================= TESTIMONALS ====================== */
.test-container {
    /* background-color: #23A094; */
    width: 80%;
    margin: 0 auto;
}

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial {
    padding-top: 2rem;
}

.testimonials-heading {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 3rem;
}

.testimonials-h5,
.testimonials-small,
.testimonials-para {
    color: #FFFFFF;
}

.testimonial-image {
    width: 100%;
    display: block;
    object-fit: cover;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid #2e3267;
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: #6c63ff;
    border-radius: 1.8rem;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    margin-bottom: 3rem;
}

.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, #6c63ff, #6c63ff,
            #6c63ff);
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
    .test-container {
        width: 90%;
    }

    .testimonials-heading {
        font-size: 50px;
    }
}

@media screen and (max-width: 767px) {
    .testimonials-heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .test-container {
        width: 94%;
    }

    .testimonial__body {
        padding: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .testimonials-heading {
        font-size: 32px;
    }
}

/* ================================ Footer ====================================== */
.footer__image {
    height: auto;
    object-fit: cover;
    margin-bottom: 0px;
}

.footer__anchor {
    color: white;
    text-decoration: none;
}

.footer__h4 {
    font-size: 1rem;
}

.footer__para,
.footer__small,
.footer__h4,
.footer__subheading {
    color: #FFFFFF;
}

.footer__subheading {
    font-size: 0.6rem;
    font-weight: 500;
}

.footer__address {
    line-height: 2;
}

footer {
    background-color: #2e3267;
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer-logo {
    width: 90px;
}

.footer__container>div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 .footer__para {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__socials i {
    padding: 0.5rem;
}

.footer__socials li {
    background-color: #BB3A8E;
    border-radius: 10%;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid #424890;
}

@media screen and (max-width: 1024px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
    }
}